<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Tukipyynnöt</title>
  </head>
  <body>
    <nav>
      <ul id="lista">
        <div id="navi">
          <li><a href="/">Asiakkaat ja käyttäjät</a></li>
          <li><a href="/support">Tukipyynnöt</a></li>
          <li><a href="/feedback">Palautteet</a></li>
        </div>
      </ul>
    </nav>

    <table>
      <tr>
        <th>Status</th>
        <th>ID</th>
        <th>Saapunut</th>
        <th>Koko nimi</th>
        <th>Asiakas</th>

        <th>Kuvaus</th>
        <th>Käsitelty</th>
        <th>Feedback</th>
      </tr>

      <tr>
        <td><%= ticket.status %></td>
        <td><%= ticket.id %></td>
        <td><%= ticket.saapunut %></td>
        <td><%= ticket.kokonimi %></td>
        <td><%= ticket.asiakas %></td>
        <td><%= ticket.kuvaus %></td>
        <td><%= ticket.kasitelty %></td>
        <td><%= ticket.palaute %></td>

        <h1>Viestit</h1>

        <<table>
  <tr>
    <th>Aika</th>
    <th>ID</th>
    <th>Vastaus</th>
  
  </tr>
  <% messages.forEach(c => { %>
    <tr>
  
    <td> <%= c.aika %></td>
   <td> <%= c.ID %></td>
   
   <td><%= c.body%></td>
   
   </tr>
  <% }) %></table>

      </tr>
    </table>
    <h3>Viestit</h3>
    <form method="post" action="/ticket/<%= ticket.id %>">
      <input name="message" id="message" type="text" placeholder="Reply" />

      <button type="submit">Reply</button>
    </form>
  </body>
</html>
